<template>
    <div id="app">
        <component :is="layout" class="layout">
            <router-view/>
        </component>
    </div>
</template>

<script>

    import MainLayout from "./layouts/MainLayout";
    import AuthLayout from "./layouts/AuthLayout";
    import EmptyLayout from "./layouts/EmptyLayout";

    export default {
        name: 'App',
        computed: {
            layout() {
                let layout = '';
                if (this.$route.meta.layout) {
                    layout = this.$route.meta.layout + '-layout'
                } else{
                    this.pushRoute()
                }
                return layout
            }
        },
        methods: {
          pushRoute(){
              if(this.$route.path !== '/') {
                  this.$router.push('/')
              }
          }
        },
        components: {
            MainLayout,
            AuthLayout,
            EmptyLayout,
        }
    }
</script>

<style>

    .v-application a{
        color: black!important;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        transition: .3s all;
    }

    .layout {
        display: flex;
        flex-direction: column;
        height: 40px !important;
        min-height: 100vh;
    }
</style>
