<template>
    <div class="auth-page">
        <h2 class="auth-page_header">Login</h2>
        <form @submit.prevent="loginHandler">
            <div class="form-field">
                <label for="name">User Name</label>
                <input
                    v-model="user.username"
                    id="name"
                    type="text"
                    name="username"
                    placeholder="Name"
                >
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input
                    v-model="user.password"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                >
            </div>
            <div v-if="msgLogin" class="error-message">{{msgLogin}}</div>
            <div class="form-action">
                <button type="submit" class="auth-btn">Login</button>
            </div>
        </form>
        <div class="auth-footer">
            <router-link to="/register">To Register Page</router-link>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from "vuex";

    export default {
        name: 'Login',

        data: () => ({
            user: {
                username: '',
                password: '',
            }
        }),

        computed: {
            ...mapGetters(['msgLogin'])
        },

        mounted() {
            this.setErrorLogin('');
        },

        methods: {
            ...mapActions(['login']),
            ...mapMutations(['setErrorLogin']),
            async loginHandler() {
                await this.login(this.user);
              this.$router.push('/');
            },
        }

    }
</script>

<style scoped>

</style>
