<template>
  <div class="auth-page">
    <h2 class="auth-page_header">Register</h2>
    <form @submit.prevent="registerHandler">
      <div class="form-field">
        <label for="name">Name</label>
        <input
            v-model="user.username"
            id="name"
            type="text"
            name="name"
            placeholder="Name"
            required
        >
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input
            v-model="user.email"
            id="email"
            type="email"
            name="email"
            placeholder="Email"
        >
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input
            v-model="user.password"
            id="password"
            type="password"
            name="password"
            placeholder="Password"
        >
      </div>
      <div v-if="errorMessageRegister" class="error-message">{{errorMessageRegister}}</div>
      <div class="form-action">
        <button type="submit" class="auth-btn">Register</button>
      </div>
    </form>
    <div class="auth-footer">
      <router-link to="/login">To Login Page</router-link>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: 'Register',

  data: () => ({
    user: {
      username: '',
      email: '',
      password: '',
    }
  }),

  computed: {
    ...mapGetters(['errorMessageRegister', 'authKey']),
  },

  mounted() {
    this.setErrorMsgRegister('');
  },

  methods: {
    ...mapActions(['register']),
    ...mapMutations(['setErrorMsgRegister']),
    async registerHandler() {
      await this.register(this.user);
      if(this.authKey){
         this.$router.push('/login');
      }
    },
  }

}
</script>
