<template>
  <div class="auth-layout">
    <router-view />
  </div>
</template>
<style scoped>
@import url('../assets/css/auth.css');
.auth-layout {
  background-color: gray;
  align-items: center;
  justify-content: center;
}
</style>