<template>
  <div class="main-layout">
    <Header/>
    <router-view />
  </div>
</template>

<script>
    import Header from "../components/header"
    export default {
        name: 'Layouts',
        components: {
            Header,
        },
    }
</script>
