<template>
    <div class="create-genres">
        <CreateEditGenres  text="Create" :err="createGenresErr" test="createGenresErr" @createEditGenres="createGenresItem($event)"/>
    </div>
</template>

<script>
    import CreateEditGenres from "../../components/genres/index";
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "create-genres",
        components: {CreateEditGenres},
        data: () => ({
            value: '',
        }),
        computed: {
          ...mapGetters(['createGenresErr'])
        },

        methods: {
            ...mapActions(['createGenres']),
           async createGenresItem(e) {
               await this.createGenres({name: e})
               if(!this.createGenresErr) {
                   this.$router.push('/')
               }

            }
        },
    }
</script>

<style scoped>

    .create-genres {
        width: 99%;
        display: flex;
    }

    .create-genres > div {
        width: 100%;
    }

</style>
