<template>
    <div class="edit-genres">
        <CreateEditGenres text="Update"  :err="updateGenresErr" test="update"  @createEditGenres="editGenres($event)"/>
    </div>
</template>

<script>

    import CreateEditGenres from "../../components/genres/index";
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "edit-genres",
        components: {CreateEditGenres},

        computed: {
            ...mapGetters(['updateGenresErr'])
        },
        methods: {
            ...mapActions(['updateGenres']),
           async editGenres(e) {
               await this.updateGenres({id: this.$route.params.id, name: e})
               if(!this.updateGenresErr) {
                   this.$router.push('/')
               }

            },
        },

    }
</script>

<style scoped>

    .edit-genres {
        width: 99%;
        display: flex;
    }

    .edit-genres > div {
        width: 100%;
    }

</style>
