<template>
  <v-app>
    <div class="genres-page-wrapper">
      <h2>Genres List</h2>
      <div>
        <div  class="create-section">
          <router-link :to="{name: 'create-genres'}">
            <button class="create-btn">Create</button>
          </router-link>
        </div>
        <div>
          <v-data-table
              :headers="tableHeaders"
              :items="genres"
              :items-per-page="10"
              class="elevation-1"
              :loading="loading"
              loading-text="Loading... Please wait"
              :search="search"
              :sort-by="['req_id']"
              :sort-desc="[true]"
          >
            <template v-slot:item.action="{ item }" >
              <div class="btn-section">
                <router-link :to="{name: 'edit-genres', params: {id: item.id}}">
                  <button class="edit-btn">Edit</button>
                </router-link>
                <button class="delete-btn" @click="deleteGenresItem(item.id)">Delete</button>
              </div>
            </template>
          </v-data-table>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>

  import {mapActions, mapGetters} from "vuex";

export default {
  name: 'genres',

  data: () => ({
    search: '',
    loading: null,
    error: null,

    tableHeaders: [
      {
        text: '#',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {text: 'Name', value: 'name'},
      {text: 'Actions', value: 'action', sortable: false, align: 'center'},
    ],
  }),

  computed: {
    ...mapGetters(['genresList']),
    genres() {
      return this.genresList ? this.genresList : []
    }
  },

  async mounted() {
     await this.getGenres();
  },


  methods: {
    ...mapActions(['getGenres', 'deleteGenres']),

   async deleteGenresItem(id) {
      if(confirm('Are you sure')) {
        await  this.deleteGenres(id)
        await  this.getGenres()
      }
    }

  },

}
</script>

<style scoped>

  .v-application {
    width: 100% !important;
  }

  .genres-page-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
  }

  .create-section {
    display: flex;
    justify-content: flex-end;
  }

  .create-btn {
    border-radius: 5px;
    outline: none;
    border: 1px solid green;
    background-color: #00fc0047;
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
  }

  .create-btn:hover {
    background-color: green;
    color: #ffffff;
    cursor: pointer;
  }


  .btn-section {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .edit-btn, .delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
  }


  .edit-btn {
    background-color: #00fc0047;
    border: 1px solid green;
  }

  .edit-btn:hover {
    background-color: green;
    color: #ffffff;
    cursor: pointer;
  }

  .delete-btn {
    background-color: #fc00007d;
    margin: 0 10px;
    border: 1px solid red;
  }

  .delete-btn:hover {
    background-color: red;
    color: #ffffff;
    cursor: pointer;
  }

</style>
