<template>
    <div class="create-books">
        <CreateEditBooks text="Create" :err="createBooksErr" @createEditBooks="createBook($event)"/>
    </div>
</template>

<script>
    import CreateEditBooks from "../../components/books/index";
    import { mapActions, mapGetters} from "vuex";
    export default {
        name: "create-books",
        components: {
            CreateEditBooks,
        },

        computed: {
            ...mapGetters(['createBooksErr'])
        },

        methods: {
            ...mapActions(['createBooks']),
          async createBook(e) {
                await this.createBooks(e)
                if(!this.createBooksErr) {
                    this.$router.push('/books')
                }
            },

        },
    }
</script>

<style scoped>
    .create-books {
        width: 99%;
        display: flex;
    }

    .create-books > div {
        width: 100%;
    }

</style>
