<template>
    <div class="edit-books">
        <CreateEditBooks text="Update" :err="updateBooksErr" @createEditBooks="createEditBooks($event)"/>
    </div>
</template>

<script>
    import CreateEditBooks from "../../components/books/index";
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "edit-books",
        components: {CreateEditBooks},
        computed: {
            ...mapGetters(['updateBooksErr'])
        },
        methods: {
            ...mapActions(['updateBook']),
           async createEditBooks(e) {
                await this.updateBook(e)
               if(!this.updateBooksErr) {
                   this.$router.push('/books')
               }
            }
        }
    }
</script>

<style scoped>

    .edit-books {
        width: 99%;
        display: flex;
    }

    .edit-books > div {
        width: 100%;
    }

</style>
