<template>
    <v-app id="inspire">
        <div class="book-item-wrapper">
        <div class="back-link">
            <router-link :to="{name: 'Books'}" class="link">
                <v-btn class="back-btn">
                    back
                </v-btn>
            </router-link>
        </div>
        <v-card
            class="mx-auto"
            max-width="400"
        >
            <v-img
                class="white--text align-end"
                height="400px"
                src="https://freepngimg.com/thumb/book/37064-8-book-hd.png"
            >
            </v-img>

            <v-card-text class="text--primary d-flex">
                <div>Title:</div>
                <div class="ml-1">{{currentBook.title}}</div>
            </v-card-text>
            <v-card-text class="text--primary d-flex">
                <div>Isbn:</div>
                <div class="ml-1">{{currentBook.isbn}}</div>
            </v-card-text>
            <v-card-text class="text--primary d-flex genres" >
                <div>Genres:</div>
                <div v-for="genres in currentBook.genres" :key="genres.id" class="ml-1">{{genres.name}},</div>
            </v-card-text>

            <v-card-actions>
                <router-link :to="{name: 'edit-books', params: {id: currentBook.id}}"  class="edit-link">
                    <v-btn
                        color="blue"
                        text
                    >
                        Edit
                    </v-btn>
                </router-link>
                <v-btn
                    color="red"
                    text
                    @click="deleteBooksItem(currentBook.id)"
                >
                    Delete
                </v-btn>
            </v-card-actions>
        </v-card>
        </div>
    </v-app>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "books-item",
        computed: {
            ...mapGetters(['booksItem']),
            currentBook() {
                return this.booksItem ? this.booksItem : {}
            }
        },
        methods: {
          ...mapActions(['getBooksItem', 'deleteBook']),
            async deleteBooksItem(id) {
                if (confirm('Are you sure')) {
                    await this.deleteBook(id);
                    this.$router.push('/books')
                }
            },
        },
        async mounted() {
            await this.getBooksItem(this.$route.params.id)
        }
    }
</script>

<style scoped>

    .book-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 99%;
    }

    .back-link {
        width: 100%;
        margin-top: 30px;
        margin-left: 50px;
    }

    .back-btn {
        background-color: green !important;
        color: yellow;
    }

    .edit-link {
        text-decoration-line: none !important;
    }

    .link {
        text-decoration-line: none;
        color: black;
    }

    h1 {
        text-align: center;
    }

    .genres {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }


</style>
