<template>
    <v-app>
        <div class="books-page-wrapper">
            <h2>Books List</h2>
            <div>
                <div  class="create-section">
                    <router-link :to="{name: 'create-books'}">
                        <button class="create-btn">Create</button>
                    </router-link>
                </div>
                <div>
                    <v-data-table
                        :headers="tableHeaders"
                        :items="books"
                        :items-per-page="10"
                        class="elevation-1"
                        :loading="loading"
                        loading-text="Loading... Please wait"
                        :search="search"
                        :sort-by="['req_id']"
                        :sort-desc="[true]"
                    >
                        <template v-slot:item.action="{ item }" >
                            <div class="btn-section">
                                <router-link :to="{name: 'edit-books', params: {id: item.id}}">
                                    <button class="edit-btn">Edit</button>
                                </router-link>
                                <button class="delete-btn" @click="deleteBooksItem(item.id)">Delete</button>
                                <router-link :to="{name: 'books-item', params: {id: item.id}}">
                                    <button class="info-btn">Info</button>
                                </router-link>
                            </div>
                        </template>
                    </v-data-table>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>

    import {mapActions, mapGetters} from "vuex";

    export default {
        name: 'books',
        data: () =>  ({
            search: '',
            loading: null,
            error: null,
            tableHeaders: [
                {
                    text: '#',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {text: 'Author', value: 'author_id'},
                {text: 'Name', value: 'title'},
                {text: 'Isbn', value: 'isbn'},
                {text: 'Crated At', value: 'created_at'},
                {text: 'Actions', value: 'action', sortable: false, align: 'center'},
            ],
        }),

        computed: {
            ...mapGetters(['bookList']),
            books() {
                return this.bookList ? this.bookList : []
            }
        },
        async mounted() {
            await this.getBooks()
        },
        methods: {
            ...mapActions(['getBooks', 'deleteBook']),
            async deleteBooksItem(id) {
                if (confirm('Are you sure')) {
                    await this.deleteBook(id)
                    await this.getBooks()
                }
            },
        },

    }
</script>

<style scoped>
    .v-application {
        width: 100% !important;
    }

    .books-page-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 99%;
    }

    .create-section {
        display: flex;
        justify-content: flex-end;
    }

    .create-btn {
        border-radius: 5px;
        border: 1px solid green;
        outline: none;
        background-color: #00fc0047;
        width: 70px;
        height: 30px;
        margin-bottom: 10px;
    }

    .create-btn:hover {
        background-color: green;
        color: #ffffff;
        cursor: pointer;
    }




    .btn-section {
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .edit-btn, .delete-btn, .info-btn {
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
    }

    .delete-btn {
        margin: 0 10px;
    }

    .edit-btn {
        background-color: #00fc0047;
        border: 1px solid green;
    }

    .edit-btn:hover {
        background-color: green;
        color: #ffffff;
        cursor: pointer;
    }

    .info-btn {
        background-color: #00fc0047;
        border: 1px solid green;
    }

    .info-btn:hover {
        background-color: green;
        color: #ffffff;
        cursor: pointer;
    }

    .delete-btn {
        background-color: #fc00007d;
        border: 1px solid red;
    }

    .delete-btn:hover {
        background-color: red;
        color: #ffffff;
        cursor: pointer;
    }

</style>
