<template>
    <v-app id="inspire">
        <div class="edit-book-wrapper">
            <div class="back-link">
                <router-link :to="{name: 'Books'}" class="link">
                    <v-btn class="back-btn">
                        back
                    </v-btn>
                </router-link>
            </div>
            <div class="form-section">
                <v-text-field
                    class="text-field-name"
                    label="Name"
                    :error-messages="(nameError) ? nameError.message : ''"
                    v-model="name"
                    :rules="rulesName"
                    hide-details="auto"
                >
                </v-text-field>
                <v-text-field
                    class="text-field"
                    label="Isbn"
                    v-model="isbn"
                    :error-messages="(isbnError)? isbnError.message : ''"
                    :rules="rulesIsbn"
                    hide-details="auto"
                >
                </v-text-field>
                <v-select
                    v-model="genres_ids"
                    :items="genres"
                    :attach="true"
                    item-text="name"
                    item-value="id"
                    chips
                    label="Genres"
                    multiple
                >

                </v-select>
                <v-btn
                    depressed
                    color="primary"
                    @click.prevent="createEditBooks"
                >
                    {{text}}
                </v-btn>
            </div>
        </div>
    </v-app>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "create-edit-books",

        props: ['text', 'err'],

        data: () => ({
            name: '',
            nameError: null,
            isbn: '',
            isbnError: null,
            book: '',
            rulesName: [
                name => !!name || 'Required.',
                name => (name && name.length >= 0) || 'Min 1 characters',
            ],
            rulesIsbn: [
                isbn => !!isbn || 'Required.',
                isbn => (isbn && isbn.length >= 0) || 'Min 1 characters',
            ],

            genres: [],
            genres_ids: [],
        }),

        computed: {
            ...mapGetters(['genresList', 'booksItem' ]),
        },

        watch: {
            'err': function (val) {
                if(val) {
                    val.map(el => {
                        if(el.field == "title") {
                            this.nameError = el
                        } else {
                           this.isbnError = el
                        }
                    })
                }
            }
        },

        async mounted() {
           await this.getGenres()
            this.divideGenresToKeyValue();
            if (this.$route.params.id) {
                await this.getBooksItem(this.$route.params.id)
                this.name = this.booksItem.title;
                this.isbn = this.booksItem.isbn;
                this.booksItem.genres.map(el => {
                    this.genres_ids.push(el.id)
                })
            }
        },

        methods: {
            ...mapActions(['getBooksItem', 'getGenres']),
            createEditBooks() {
                if(this.$route.params.id) {
                    this.$emit('createEditBooks', {id: this.$route.params.id, title: this.name, genre_ids: this.genres_ids, isbn: this.isbn});
                } else {
                    this.$emit('createEditBooks', { title: this.name, genre_ids: this.genres_ids, isbn: this.isbn});
                }
            },

            divideGenresToKeyValue() {
                this.genres = this.genresList;
            },
        }
    }
</script>

<style scoped>
    .back-link {
        width: 100%;
        margin-top: 30px;
        margin-left: 50px;
    }

    .back-btn {
        background-color: green !important;
        color: yellow;
    }



    .edit-book-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-section {
        width: 500px;
    }

    .link {
        text-decoration-line: none;
        color: black;
    }

    .text-field-name {
        margin-top: 100px;
    }

    .text-field {
        margin: 30px 0;
    }

</style>
