.auth-page {
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    background-color: #f0f8ff;
}
.auth-page_header {
    color: gray;
    margin-bottom: 20px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-field label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.form-field input {
    width: auto;
    height: 48px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    line-height: 24px;
}
.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 12px;
}
.auth-btn {
    padding: 10px 20px;
    background-color: chocolate;
    color: aliceblue;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.auth-footer {
    text-align: right;
}
.auth-footer a{
    cursor: pointer;
    color: gray;
}
