<template>
    <div class="main-layout">
        <v-card
            class="mx-auto overflow-hidden"
            height="50"
            width="100%"
        >
            <v-app-bar
                color="deep-purple accent-4 w-100"
                dark
                prominent
            >
                <div class="nav-section-links">
                    <div class="d-flex">
                        <router-link :to="{name: 'Books'}" class="nav-link">
                            <span :class="{'active': !isActive}" @click="toggle('book')">
                                Books
                            </span>
                        </router-link>
                        <router-link :to="{name: 'Genres'}"  class="nav-link">
                            <span :class="{'active': isActive}" @click="toggle('genres')">
                              Genres
                            </span>
                        </router-link>
                    </div>
                    <div>
                        <span @click="logout" class="logout">
                            <span>Logout</span>
                        </span>
                    </div>
                </div>
            </v-app-bar>
        </v-card>
    </div>
</template>
<script>
    export default {
        name: 'Header',
        data: () => ({
            isActive: true,
        }),
        methods: {
            logout() {
                window.localStorage.removeItem('user');
                this.$router.push('/login')
            },
            toggle(name) {
                return (name === 'genres') ? this.isActive = true : this.isActive = false

            },
        }
    }

</script>

<style>

    .v-app-bar {
        height: 70px !important;
        display: flex;
    }

    .v-toolbar__content {
        height: 70px !important;
        align-items: center !important;
        background-color: green;
    }

    .nav-section-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .nav-link {
        text-decoration-line: none;
        margin-left: 10px;
        color: white;
        font-size: 20px;
    }

    .logout {
        margin-right: 10px;
        cursor: pointer;
    }

    .logout:active{
        color: yellow;
    }

    .active {
        color: yellow;
    }

</style>
