<template>
    <v-app id="inspire">
        <div class="create-edit-genres">
            <div class="back-link">
                <router-link :to="{name: 'Genres'}" class="link">
                    <v-btn class="back-btn">
                        back
                    </v-btn>
                </router-link>
            </div>
            <div class="form-section">
                <v-text-field
                    class="text-field-name"
                    label="Name"
                    :error-messages="errMessages.message"
                    v-model="value"
                    :rules="rules"
                    hide-details="auto"
                >
                </v-text-field>
                <v-btn
                    depressed
                    color="primary"
                    @click.prevent="createEditGenres"
                >
                    {{text}}
                </v-btn>
            </div>
        </div>
    </v-app>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    export default {
        name: "create-edit-genres",
        props: ['text', 'err'],
        data: () => ({
            value: '',
            genres: '',
            errMessages: '',
            rules: [
                value => !!value || 'Required.',
                value => (value && value.length >= 0) || 'Min 1 characters',
            ],
        }),
        computed: {
            ...mapGetters(['genresItem', 'createGenresErr'])
        },
        watch: {
            'err': function (val) {
                if(val) {
                    this.errMessages = val.find(el => el.field == 'name')
                }
            }
        },
        async mounted() {
            if(this.$route.params.id) {
                await this.getGenresItem(this.$route.params.id)
                this.genres = this.genresItem
                this.value = this.genres.name
            }
        },
        methods: {
            ...mapActions(['getGenresItem']),
            createEditGenres() {

                this.$emit('createEditGenres', this.value)
            },
        },
    }
</script>

<style  scoped>
    .back-link {
        width: 100%;
        margin-top: 30px;
        margin-left: 50px;
    }

    .back-btn {
        background-color: green !important;
        color: yellow;
    }

    .create-edit-genres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-section {
        width: 500px;
    }
    .link {
        text-decoration-line: none;
    }

    .text-field-name {
        margin-top: 100px;
        margin-bottom: 20px;
    }


</style>
